.DS_Store
node_modules
documentation
docTemp
/dist
/source/index.html
# package-lock.json //npm ci is strictly designed for automated environments and requires a package-lock.json
coverage
out
yarn.lock

# local env files
.env.local
.env.*.local
.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
