# Ignore artifacts:
build
coverage

# Ignore all HTML files:
**/*.html
documentation/*
.eslintrc.js
.github/*
babel.config.js
package.json
README.md
vite.config.mjs
vitest.config.js
vue.config.js
webpack.config.js
