.v-text-field {
  width: 90%;
  .v-input__control {
    .v-text-field__details {
      display: none;
    }
    .v-input__slot {
      margin-bottom: 0;
      box-shadow: none !important;
    }
    .v-select__selections {
      min-height: 36px;
    }
    .advancedSearchChip {
      height: 32px
    }
  }
}

// Styling for checkbox
.v-input--checkbox {
  .v-input--selection-controls__input {
    margin-right: 0;
  }
  .v-messages {
    display: none
  }
}

//Styling for radio
.advancedSearchRadio {
  .radioButtons {
    .v-icon {
      background-color: white;
      border-radius: 50%;
      opacity: 1
    }
  }
  .v-messages {
    display: none
  }
}

//Styling for textfield
.advancedSearchSelect, .advancedSearchAutocomplete {
  .v-field__input {
    padding: 0 12px;
  }
}