.v-text-field {
  width: 90%;
  .v-input__control {
    min-height: 36px;
    .v-text-field__details {
      display: none;
    }
    .v-input__slot {
      margin-bottom: 0;
      box-shadow: none !important;
    }
    .v-select__selections {
      min-height: 36px;
    }
  }
}

// Styling for checkbox
.v-input--checkbox {
  .v-input--selection-controls__input {
    margin-right: 0;
  }
  .v-messages {
    display: none
  }
}

//Styling for radio
.v-input--radio-group {
  .v-icon {
    background-color: white;
    border-radius: 50%
  }
  .v-messages {
    display: none
  }
}