.fade-enter-active, .fade-leave-active {
  transition: opacity .7s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
  opacity: 0;
}

.opacity-0-transition {
  transition: opacity .7s;
  opacity: 0;
}

.opacity-1-transition {
  opacity: 1;
}
