// base class
a {
  text-decoration: none;
  color: #27aae1;
}

ul {
  list-style: none;
  padding-left: 24px;
}

ol {
  padding-left: 24px;
}

p {
  line-height: 1.6;
  text-align: justify;
  margin-bottom: 16px;
}

pre {
  overflow-x: auto;
  -ms-overflow-x: auto;
}
//end of base class

// shared class
.card-title-customize {
  position: absolute;
  top: 5px;
  left: 120px;
}

.v-card-hover {
  -webkit-box-shadow:
    rgba(255, 255, 255, 0.1) 0 1px 0,
    rgba(0, 0, 0, 0) 0 1px 7px 0 !important;
  -moz-box-shadow:
    rgba(255, 255, 255, 0.1) 0 1px 0,
    rgba(0, 0, 0, 0) 0 1px 7px 0 !important;
  box-shadow:
    rgba(255, 255, 255, 0.1) 0 1px 0,
    rgba(0, 0, 0, 0) 0 1px 7px 0 !important;
  transition: box-shadow 0.4s linear;
  -webkit-transition: box-shadow 0.4s linear;
  -moz-transition: box-shadow 0.4s linear;
  -o-transition: box-shadow 0.4s linear;
}

.v-card-hover:hover {
  transform: scale(1.004);
  -webkit-box-shadow:
    rgba(255, 255, 255, 0.1) 0 1px 0,
    rgba(0, 0, 0, 0.2) 0 1px 7px 0 !important;
  -moz-box-shadow:
    rgba(255, 255, 255, 0.1) 0 1px 0,
    rgba(0, 0, 0, 0.2) 0 1px 7px 0 !important;
  box-shadow:
    rgba(255, 255, 255, 0.1) 0 1px 0,
    rgba(0, 0, 0, 0.2) 0 1px 7px 0 !important;
}

.relation-style {
  position: absolute;
  bottom: -12px;
  left: 143px;
  font-size: 12px;
}

.code-container {
  overflow-x: auto;
  -ms-overflow-x: auto;
  pre {
    display: block !important;
  }
}
// end of shared class
