.query-builder-group::v-deep {
  color: black;

  select {
    background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%);
    background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
    background-color: white;
    border-radius: 4px;
    display: inline-block;
    line-height: 1.5em;
    padding: 0 12px;
    /* reset */
    margin: 0;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    min-height: 36px;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }

  .query-builder-child__delete-child {
    opacity: 1;
    color: white;
    background-color: #6b1e1e;
    font-size: 25px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-left: 8px !important;
    vertical-align: middle;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    @media #{map-get($display-breakpoints, 'sm-and-down')} {
      position: absolute;
      right: 0;
      top: -5px;
    }
  }
  .query-builder-group__rule-adding-button,
  .query-builder-group__group-adding-button,
  .query-builder-group-slot__group-adding-button,
  .query-builder-group-slot__rule-adding-button {
    padding: 0 8px;
    height: 36px;
    min-width: 64px;
    color: white;
    background-color: #e67e22;
    border-color: #e67e22;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-weight: 500;
  }

  button:disabled,
  button[disabled] {
    border-color: #ccc;
    background-color: #ccc;
    color: #666666;
  }

  .query-builder-group__spacer,
  .query-builder-group__rule-adding-button,
  .query-builder-group__group-control select,
  .query-builder-group__group-children
  .query-builder-group__group-adding-button,
  .query-builder-group-slot__group-control .query-builder-group-slot__rule-selection:not(.query-builder-group__group-children--depth-1 *),
  .query-builder-group-slot__group-control .query-builder-group-slot__rule-adding-button:not(.query-builder-group__group-children--depth-1 *),
  .query-builder-group-slot__group-control .slotSpacer:not(.query-builder-group__group-children--depth-1 *),
  .query-builder-group__group-children--depth-2 {
    display: none;
  }

  .query-builder-group__group-children {
    .query-builder-group__rule-adding-button,
    .query-builder-group__group-control select {
      display: block;
    }
  }

  .query-builder-group__group-selection {
    background-color: #ababab;
    border-radius: 4px;
    padding: 15px;
    margin: 15px 0;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    .query-builder-group__group-operator {
      color: white;
      font-weight: 500;
    }
    select.operatorSelect {
      max-width: 80px !important;
      width: 100%;
      @media #{map-get($display-breakpoints, 'sm-and-down')} {
        max-width: 90% !important;
        margin-top: 10px;
      }
    }
  }
  input[type="text"] {
    background-color: white;
    padding: 0 12px;
    min-height: 36px;
    width: 90%;
    border-radius: 4px;
    @media #{map-get($display-breakpoints, 'sm-and-down')} {
      max-width: 100%;
    }
  }

  .query-builder-child {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0;
    .query-builder-rule {
      background-color: #27aae1;
      border-color: #27aae1;
      display: flex;
      align-items: center;
    }
    .query-builder-child__component {
      padding: 15px;
      border-radius: 0 4px 4px 0;
      box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
      0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
      @media #{map-get($display-breakpoints, 'sm-and-down')} {
        flex-direction: column;
        align-items: unset;
        position: relative;
        width: 100%;
      }
      .query-builder-rule__name {
        font-size: 14px;
        color: white;
        font-weight: 500;
        @media #{map-get($display-breakpoints, 'sm-and-down')} {
          margin-bottom: 10px;
        }
      }
      select {
        max-width: 350px;
        width: 100%;
        color: black;
        @media #{map-get($display-breakpoints, 'sm-and-down')} {
          max-width: 100%;
          margin-bottom: 10px;
        }
      }
      .query-builder-group__group-control {
        select {
          @media #{map-get($display-breakpoints, 'md-and-up')} {
            max-width: 320px;
          }
        }
      }
    }
  }
  & > .query-builder-group__control {
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    z-index: 1;
    .query-builder-group__group-selection {
      margin: 0 0 15px 0;
      border-radius: 4px 4px 0 0;
      .tooltiptext {
        &:after {
          content: "Connect each group of rules with either 'AND' or 'OR'";
        }
      }
    }
  }

  .query-builder-group__group-children--depth-1 {
    .query-builder-group__group-operator {
      visibility: hidden;
      position: relative;
      &:after {
        visibility: visible;
        position: absolute;
        top: -2px;
        left: 0;
        width: 240px;
        content: "Select an Operator for this group";
      }
    }
    .tooltiptext {
      &:after {
        content: "Connect the rules inside this group with either 'AND' or 'OR'";
      }
    }
    .operatorSelect {
      @media #{map-get($display-breakpoints, 'md-and-up')} {
        margin-left: -80px;
      }
    }
    .query-builder-group-slot__group-adding-button {
      display: none;
    }
    .query-builder-group-slot__rule-selection, .query-builder-group-slot__rule-adding-button {
      display: inline-block;
    }
  }

  .tooltip {
    position: relative;
    display: inline-block;
    cursor: default;
    .tooltiptext {
      visibility: hidden;
      width: 250px;
      background-color: black;
      color: #fff;
      text-align: center;
      border-radius: 4px;
      padding: 5px 16px;
      opacity: 0;
      transition: opacity 1s, visibility 1s;

      /* Position the tooltip */
      position: absolute;
      z-index: 1;
      top: 100%;
      left: 50%;
      margin-left: -10px;
      margin-top: 10px;
    }
    /* Hover the tooltip icon*/
    &:hover {
      .tooltiptext {
        visibility: visible;
        opacity: 1;
      }
    }
  }
  .query-builder-group__group-children--depth-1 {
    .query-builder-group-slot__group-control {
      .ruleWrapper {
        flex-grow: 1;
        flex-basis: 0;
        min-width: 0;
        select {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          padding-right: 30px
        }
      }

      .slotSpacer {
        width: 0;
        margin-left: 12px;
        margin-right: 12px;
        border-left: 1px solid hsl(0, 0%, 75%);
      }
    }
  }
}