//Utilities classes---------------------------------
.underline-effect {
  &:hover, &:focus {
    text-decoration: underline;
    outline: 0;
  }
}

.mouse-cursor {
  cursor: pointer;
}

.mouse-info {
  cursor: help;
}

.tooltips {
  max-width: 500px;
  display: block;
}

.v-tooltip__content {
  background: rgba(0, 0, 0, 1) !important;
}

.opacity-low {
  opacity: 0.3;
  -moz-opacity: 0.3;
}

.full-width {
  width: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.text-ellipses-height-2lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-ellipses-height-3lines {
  @extend .text-ellipses-height-2lines;
  -webkit-line-clamp: 3;
}

.ellipse {
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.ellipse-150 {
  @extend .ellipse;
  max-width: 150px;
}

.ellipse-width-80 {
  width: 80px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.ellipse-width-600 {
  @extend .ellipse;
  max-width: 600px;
}

.ellipse-width-450 {
  @extend .ellipse;
  max-width: 450px;
}

.dashed-line {
  border: none;
  border-top: 4px dotted gray;
  color: #fff;
  background-color: #fff;
  height: 1px;
}
// end of utility classes


//margins & sizes
.mx-25-percent {
  margin-right: 25%;
  margin-left: 25%;
}

.mx-50-percent {
  margin-right: 15%;
  margin-left: 15%;
}

.ml-25-percent {
  margin-left: 25%;
}

//sizes
.min-width-60 {
  min-width: 60px;
}

.min-width-200 {
  min-width: 200px;
}

.min-height-25 {
  min-height: 25px;
}

.min-height-40 {
  min-height: 40px;
}

.min-height-60 {
  min-height: 60px;
}

.min-height-68 {
  min-height: 68px;
}

.min-height-70 {
  min-height: 70px;
}

.min-height-100 {
  min-height: 100px;
}

.height-50 {
  height: 50px;
}

.height-75 {
  height: 75px;
}

.height-90 {
  height: 90px;
}

.height-120 {
  height: 120px;
}

.height-140 {
  height: 140px;
}

.height-190 {
  height: 190px;
}

.height-430 {
  height: 430px;
}

.min-height-20vh {
  min-height: 20vh;
}

.min-height-40vh {
  min-height: 40vh;
}

.min-height-70vh {
  min-height: 70vh;
}

.width-35 {
  width: 35px;
}

.width-200 {
  width: 200px;
}

.mt-1-pt {
  margin-top: 1pt;
}

.line-height-14 {
  line-height: 14px;
}

.line-height-16 {
  line-height: 16px;
}

.line-height-20 {
  line-height: 20px;
}
//end of margins & sizes



