//custom colors-----------------------------
$color-gray-light1: #bebebe;
$color-gray-light2: #757575;
$color-gray-light3: #5a5a5a;

$max-width-val: 30%;
$max-height-val: 100px;

$color-primary: #27aae1;
$color-secondary: #004d40;

.button-text-color {
  color: $color-gray-light1 !important;
}

//End of Custom Colors----------------------

//Global Setting----------------------------
a:link {
  text-decoration: none;
}

//End of Global Setting---------------------

//Animations--------------------------------
.fade-enter-active, .fade-leave-active {
  transition: opacity .7s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
  opacity: 0;
}

.opacity-0-transition {
  transition: opacity .7s;
  opacity: 0;
}

.opacity-1-transition {
  opacity: 1;
}

//End of Animations-------------------------

//Utilities---------------------------------
.opacity-low {
  opacity: 0.3;
  -moz-opacity: 0.3;
}

.full-width {
  width: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.text-ellipses-height {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ellipse {
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.ellipse-width-80 {
  width: 80px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.dashed-line {
  border: none;
  border-top: 4px dotted gray;
  color: #fff;
  background-color: #fff;
  height: 1px;
}

.mx-25-percent {
  margin-right: 25%;
  margin-left: 25%;
}

.mx-50-percent {
  margin-right: 15%;
  margin-left: 15%;
}

.ml-25-percent {
  margin-left: 25%;
}

.height-50 {
  height: 50px;
}

.height-60 {
  height: 60px;
}
//End of Utilities--------------------------
