//custom colors
$color-gray-light1: #bebebe;
$color-gray-light2: #757575;
$color-gray-light3: #5a5a5a;

$max-width-val: 30%;
$max-height-val: 100px;

$color-primary: #27aae1;
$color-secondary: #004d40;

a:link {
  text-decoration: none ;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
  color: $color-gray-light2;
  font-weight: normal;
  overflow: hidden;
}

h4 {
  font-size: 1.2em;
  color: $color-gray-light2;
  font-weight: bold;
  overflow: hidden;
}

.max-width {
  max-width: $max-width-val;
}

.max-height {
  max-height: $max-height-val;
}

.button-text-color {
  color: $color-gray-light1 !important;
}

.card-description {
  margin: 0 .6rem 0 .6rem;
  max-height: 40px;
  overflow: hidden;
  font-size: .9em;
  text-align: justify;
  color: $color-gray-light3;
}

.full-width {
  width: 100%;
}

.text-primary {
  color: $color-primary;
}

//Animations

.fade-enter-active, .fade-leave-active {
  transition: opacity .7s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
  opacity: 0;
}

.opacity-0-transition {
  transition: opacity .7s;
  opacity: 0;
}

.opacity-1-transition {
  opacity: 1;
}

//End of Animations

//Utilities

.ellipse {
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

//End of Utilities
