name: Build

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-node@v1
      with:
        node-version: '14.x'
    - name: Install Dependencies
      run: npm install
    - name: Run npm unit tests
      run: npm run test:unit
    - name: Update coverage to coveralls
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        path-to-lcov: './coverage/lcov.info'
    - name: Update coverage to codacy
      run: npm run codacy ${{ secrets.CODACY_PROJECT_TOKEN }}
